.main-chat
  .main-chat__group-info
    .group-info__details
      %p.group-name
        test
      %ul.group-list
        members :
        %li.group-member
          abe
    .edit-btn 
      = link_to "Edit", "#", class: 'edit-text'
      
  .main-chat__message-list
  
    = render @messages
    -# .Message-box
    -#   .Message-info
    -#     .Contributor
    -#       Masa
    -#     .Date
    -#       2020/7/13(mon) 17:00:00
    -#   .Message
    -#     おはよう！

  .main-chat__message-form
    .Fotter
      = form_with model: [@group, @message], html: {class: "Form"}, local: true do |f|
        .Input-content
          -# %input.Input-text{placeholder: "type a message", type: "text"}
          = f.text_field :content, class: 'Input-text', placeholder: 'type a message'
          -# %label.Input-img
          -#   = icon('fas', 'image')
          -#   %input{type: "file", class: "hidden"}
          = f.label :image, class: 'Input-img' do
            = icon('far', 'image', class: 'Form__icon')
            = f.file_field :image, class: 'Hidden'
        -# %input.Send-btn{type: "submit", value: "Send"}
        = f.submit 'Send', class: 'Send-btn'