.main-chat
  .main-chat__group-info
    .group-info__details
      %p.group-name
        = @group.name
      %ul.group-list
        members :
        %li.group-member
          - @group.users.each do |user|
            = user.name
    .edit-btn 
      = link_to "Edit", edit_group_path(@group), class: 'edit-text'
      
  .main-chat__message-list
    = render @messages

  .main-chat__message-form
    .Fotter
      = form_with model: [@group, @message], html: {class: "Form"}, local: true do |f|
        .Input-content
          -# %input.Input-text{placeholder: "type a message", type: "text"}
          = f.text_field :content, class: 'Input-text', placeholder: 'type a message'
          -# %label.Input-img
          -#   = icon('fas', 'image')
          -#   %input{type: "file", class: "hidden"}
          = f.label :image, class: 'Input-img' do
            = icon('far', 'image', class: 'Form__icon')
            = f.file_field :image, class: 'Hidden'
        -# %input.Send-btn{type: "submit", value: "Send"}
        = f.submit 'Send', class: 'Send-btn'